.notification-tab .notice a,
li {
  width: fit-content;
  /* display: inline-block; */
  margin: 0px 6px;
}

.notification-tab {
  display: grid;
  grid-template-columns: 19% 69% 12%;
  margin: 2px 20px;
}

.notification-tab .title {
  padding: 11px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #050d3c;
  width: 100%;
  border-radius: 30px 0px 0px 30px;
}

.notification-tab .notifications {
  padding: 11px 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #050d3c;
  width: 100%;
}

.notification-tab .show {
  padding: 11px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #050d3c;
  width: 100%;
  border-radius: 0px 30px 30px 0px;
}

.notification-tab .title p {
  font-size: 1rem;
  font-weight: bold;
  margin: 3px 0px !important;
}

.notification-tab .notice {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 10px;
}

.title p,
.show a {
  color: white;
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgb(22, 49, 172), 0 0 5px rgb(49, 24, 190), 0 0 8px #7e70ce,
      0 0 10px #9fa9e4, 0 0 10px #040b6d, 0 0 10px #170677, 0 0 10px #0a0dd3;
  }
  to {
    text-shadow: 0 0 8px rgb(27, 7, 114), 0 0 8px #1a1968, 0 0 10px #4e73d6,
      0 0 14px #1a4e9b, 0 0 14px #85849e, 0 0 14px #c0c6e4, 0 0 14px #2427d6;
  }
}

@media only screen and (max-width: 760px) {
  .notification-tab .title {
    padding-left: 8px;
    justify-content: left;
  }

  .notification-tab {
    grid-template-columns: 29% 54% 17%;
  }
}

@media only screen and (max-width: 578px) {
  .notification-tab {
    grid-template-columns: 29% 52% 19%;
    margin: 2px 7px;
  }

  .notification-tab .title p {
    font-size: 0.8rem;
  }
}
