@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
main {
  min-height: 80vh;
}
.navbar {
  border-bottom: 1px gray solid;
}
.bg-light {
  background-color: white !important;
}
.navbar-brand {
  display: flex !important;
  align-items: center;
  font-weight: 1000 !important;
  font-size: 2em !important;
  color: inherit !important;
  line-height: 1.2;
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.25em !important;
  }
}
.navbar-toggler {
  display: flex;
  align-items: center;
  border: none !important;
  outline-width: 0 !important;
}
.fa-bars {
  color: black;
  outline-width: none;
}
.section-underline {
  border-top: solid 3px #fd2d34;
  width: 30%;
}
.section-heading {
  font-weight: 900;
  font-size: 3em;
  color: #2a2a53;
}
.description {
  color: #9a9999;
  font-size: 1.25em;
}
