@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --blue-text: #2a2a53;
  --gray-text: #9a9999;
}

main {
  min-height: 80vh;
}
.navbar {
  border-bottom: 1px gray solid;
  background-color: white !important;
}
.navbar-brand {
  display: flex !important;
  align-items: center;
  font-weight: 1000 !important;
  font-size: 2em !important;
  color: inherit !important;
  line-height: 1.2;
}
@media only screen and (min-width: 992px) {
  .navbar-nav {
    position: absolute;
    top: 5px;
    right: 120px;
  }
  .bottom-list a.nav-link {
    font-weight: 900 !important;
    font-size: 1em;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-nav {
    margin-left: 0 !important;
  }
  .top-list {
    border-bottom: gray 1px solid;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2em !important;
  }
  .navbar-brand img {
    height: 48px;
    padding-right: 8px;
  }
}
@media only screen and (max-width: 375px) {
  .navbar-brand {
    font-size: 1em !important;
  }
  .navbar-brand img {
    height: 38px;
    padding-right: 2px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-brand img {
    height: 75px;
    padding-right: 10px;
  }
}
.navbar-toggler {
  display: flex;
  align-items: center;
  border: none !important;
  outline-width: 0 !important;
}

/* Carousel Styling */
.carousel-img {
  max-height: 690px;
}

/* HomeScreen Section Styling */
.section-underline {
  border-top: solid 5px #fd2d34;
  margin-top: 0px;
  width: 15%;
}
.section-heading {
  font-weight: 900;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  color: var(--blue-text);
}
.description {
  color: var(--gray-text);
  font-size: 1.25em;
}
.card {
  cursor: pointer !important;
  border: none !important;
}
.departmentCard:hover .card-img-top {
  background-color: rgba(151, 63, 63, 0.2);
}
.card-img-top {
  width: 100px !important;
  border: solid 1px red;
  padding: 10px;
  border-radius: 25px !important;
  margin: 0 auto !important;
}
.card-title {
  font-size: 1.3em !important;
  font-weight: 700 !important;
  color: var(--blue-text);
}
@media only screen and (max-width: 576px) and (min-width: 333px) {
  .cardList div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .departmentCard {
    max-width: 200px;
  }
}

/* campuslife css */
.campuslife-card .card-img-top {
  width: 12rem !important;
  height: 312px;
  border: none;
  padding: 0;
  display: block;
  margin: auto 0;
}
div.card-description {
  width: 70%;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  div.card-description {
    width: 100%;
  }
}
/* campus life css ends */

/* Footer Styling */
footer {
  background-color: #34393c;
  min-height: 500px !important;
  color: white;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
.footer-logo {
  width: 150px;
}
address {
  font-weight: 400;
  font-size: 1.2em;
}

.footer-section-details {
  list-style-type: none;
  padding: 0;
}
.footer-section-heading {
  font-weight: 900;
  font-size: 1.5em;
}
ul.footer-section-details li {
  padding-top: 0.25em;
  font-size: 1.2em;
}
.connect svg {
  margin: 10px;
}
.footer-link {
  text-decoration: none !important;
  color: #d5d5d5;
}
.footer-link:hover {
  color: #6a8191;
}
