@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --blue-text: #2a2a53;
  --gray-text: #9a9999;
}
html {
  overflow-x: hidden;
}
main {
  min-height: 80vh;
}
.navbar {
  border-bottom: 1px gray solid;
  background-color: white !important;
}
.navbar-brand {
  display: flex !important;
  align-items: center;
  font-weight: 1000 !important;
  font-size: 2.5em !important;
  color: var(--blue-text) !important;
  line-height: 1.2;
}
@media only screen and (min-width: 1200px) {
  .navbar-brand {
    margin-left: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-brand {
    margin-left: 80px;
  }
}

@media only screen and (min-width: 992px) {
  .top-list,
  .bottom-list {
    position: absolute;
    top: 25px;
    right: 00px;
    width: 550px;
    height: 38px;
  }
  .bottom-list a.nav-link {
    font-weight: 900 !important;
    font-size: 1em;
  }
}
@media only screen and (max-width: 991px) {
  .top-list,
  .bottom-list {
    margin-left: 0 !important;
  }
  .top-list {
    border-bottom: gray 1px solid;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  div.bottom-list {
    margin-top: 35px !important;
  }
  .top-list,
  .bottom-list {
    padding-left: 5em !important;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar-brand {
    font-size: 2em !important;
  }

  div.top-list .nav-link {
    font-size: 0.8em !important;
  }
}
@media only screen and (min-width: 1200px) {
  div.top-list .nav-link {
    font-size: 0.8em !important;
  }
  .top-list {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2em !important;
  }
  .navbar-brand img {
    height: 48px;
    padding-right: 8px;
  }
}
@media only screen and (max-width: 375px) {
  .navbar-brand {
    font-size: 1em !important;
  }
  .navbar-brand img {
    height: 38px;
    padding-right: 2px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-brand img {
    height: 75px;
    padding-right: 10px;
  }
}
.navbar-toggler {
  display: flex;
  align-items: center;
  border: none !important;
  outline-width: 0 !important;
}

/* Carousel Styling */
/* .carousel-inner {
  position: relative;
} */
.carousel-img {
  max-height: 75vh !important;
}
.carousel-inner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(10, 35, 81, 0.5);
}

/* Carousel Styling Ends */
/* HomeScreen Section Styling */
.section-underline {
  border-top: solid 5px #fd2d34;
  margin-top: 0px;
  width: 15%;
}
.section-heading {
  font-weight: 900;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  color: var(--blue-text);
}
.description {
  color: var(--gray-text);
  font-size: 1.25em;
}
.card {
  cursor: pointer !important;
  border: none !important;
}
.departmentCard:hover .card-img-top {
  background-color: rgba(151, 63, 63, 0.2);
}
div.departmentCard .card-img-top {
  width: 100px !important;
  border: solid 1px red;
  padding: 10px;
  border-radius: 25px !important;
  margin: 0 auto !important;
}
div.departmentCard .card-body .card-title {
  font-size: 1.3em !important;
  font-weight: 700 !important;
  color: var(--blue-text);
}
@media only screen and (max-width: 575px) and (min-width: 333px) {
  .cardList div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .departmentCard {
    max-width: 200px;
  }
}

/* Life @FOET */
.insti-life {
  text-align: center;
  color: white;
  position: relative;
  padding: 50px;
  justify-content: center;
  height: 300px !important;
  width: 100vw !important;
  background-image: url(./assets/images/img-showcase.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.insti-life div.content {
  position: relative;
  z-index: 3;
}
.insti-life div.content .btn {
  align-items: center;
}
.insti-life::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(42, 42, 83, 0.5);
}
@media only screen and (max-width: 375px) {
  .insti-life {
    height: 340px !important;
  }
}
@media only screen and (max-width: 320px) {
  .insti-life {
    height: 350px !important;
  }
}
/* Life @FOET Ends */

/* Admission Section CSS Starts */
.section-sub-heading {
  font-weight: 900;
  color: var(--blue-text);
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}
.external-link {
  color: var(--blue-text);
  font-weight: bolder;
}
.external-link:hover {
  color: var(--blue-text);
}
/* Admission Section CSS Ends */
/*TPC CSS STARTS*/
.tpc-objectives-list {
  list-style-type: square;
  padding: 0;
  color: var(--gray-text);
}
.tpc-objectives-list li {
  font-size: 1.25em;
  padding: 5px;
}
/* TPC CSS ENDS */
/* student life css starts */
.section-sub-sub-heading {
  font-weight: 900;
  color: var(--blue-text);
  font-size: 1.25em;
  font-family: 'Roboto', sans-serif;
}
.council-list {
  list-style-type: none !important;
}
.council-list li::before {
  content: '\25A0';
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
/* student life css ends */
/* Footer Styling */
footer {
  background-color: #2b2a54;
  min-height: 500px !important;
  color: white;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
.footer-container {
  max-width: 1280px !important;
}
.footer-stacked-columns div.col {
  padding: 0;
}
.footer-logo {
  width: 150px;
}
address {
  font-weight: 400;
  font-size: 1.2em;
}
.footer-section-details {
  list-style-type: none;
  padding: 0;
}
.footer-section-heading {
  font-weight: 900;
  font-size: 1.5em;
}
ul.footer-section-details li {
  padding-top: 0.25em;
  font-size: 1.2em;
}
.connect svg {
  margin: 10px;
}
.footer-link {
  text-decoration: none !important;
  color: #d5d5d5;
}
.footer-link:hover {
  color: #6a8191;
}
