:root {
  --blue-text: #2a2a53;
  --gray-text: #555f61;
}
html {
  overflow-x: hidden;
}
main {
  min-height: 80vh;
}

.navbar {
  border-bottom: 1px gray solid;
  background-color: white !important;
}
.navbar-brand {
  display: flex !important;
  align-items: center;
  font-weight: 1000 !important;
  font-size: 2.5em !important;
  color: var(--blue-text) !important;
  line-height: 1.2;
}
.top-list .nav-link,
.bottom-list .nav-link {
  color: #707678 !important;
}
.top-list .nav-link:hover,
.bottom-list .nav-link:hover {
  color: #000000 !important;
}

@media only screen and (min-width: 1240px) {
  .navbar-brand {
    margin-left: 80px;
  }
}
.navbar-rule {
  height: 1px;
  width: 100%;
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .top-list,
  .bottom-list {
    position: absolute;
    top: 15px;
    right: 00px;
    width: 550px;
    height: 38px;
  }
  .bottom-list a.nav-link {
    font-weight: 900 !important;
    font-size: 1em !important;
  }
}
@media only screen and (max-width: 992px) {
  .top-list,
  .bottom-list {
    margin-left: 0 !important;
  }
  .header-navbar {
    flex-direction: column-reverse !important;
  }
  .nav-link {
    font-weight: bold !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1240px) {
  div.top-list .nav-link {
    font-size: 1em !important;
  }
  .top-list,
  .bottom-list {
    padding-left: 5em !important;
  }
}
@media only screen and (min-width: 992px) {
  .section-heading,
  .navbar-brand {
    font-size: 2em !important;
  }
}
@media only screen and (min-width: 1240px) {
  div.top-list .nav-link {
    font-size: 0.8em !important;
  }
  div.bottom-list .nav-link {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2em !important;
  }
  .navbar-brand img {
    height: 48px;
    padding-right: 8px;
  }
}
@media only screen and (max-width: 375px) {
  .navbar-brand {
    font-size: 1em !important;
  }
  .navbar-brand img {
    height: 38px;
    padding-right: 2px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-brand img {
    height: 75px;
    padding-right: 10px;
  }
}
.navbar-toggler {
  display: flex;
  align-items: center;
  border: none !important;
  outline-width: 0 !important;
}

/* Carousel Styling */
/* .carousel-inner {
  position: relative;
} */
.carousel-img {
  max-height: 75vh !important;
}
.carousel-inner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(10, 35, 81, 0.5);
}

/* Carousel Styling Ends */
/* HomeScreen Section Styling */
.section-underline {
  border-top: solid 5px #fd2d34;
  margin-top: 0px;
  width: 15%;
}
.section-heading {
  font-weight: 900;
  font-size: 3em;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  color: var(--blue-text);
}
.description {
  color: var(--gray-text);
  font-size: 1.25em;
  line-height: 1.4;
}
.card {
  cursor: pointer !important;
  border: none !important;
}
.departmentCard:hover {
  transform: scale(1.05);
}
.departmentCard:hover .card-img-top {
  background-color: rgba(151, 63, 63, 0.2);
}
div.departmentCard .card-img-top {
  width: 100px !important;
  border: solid 1px red;
  padding: 10px;
  border-radius: 25px !important;
  margin: 0 auto !important;
}
div.departmentCard .card-body .card-title {
  font-size: 1.3em !important;
  font-weight: 700 !important;
  color: var(--blue-text);
}
@media only screen and (max-width: 575px) and (min-width: 333px) {
  .cardList div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .departmentCard {
    max-width: 200px;
  }
}

/* Life @FOET */
.insti-life {
  text-align: center;
  color: white;
  position: relative;
  padding: 50px;
  justify-content: center;
  height: 300px !important;
  width: 100vw !important;
  background-image: url(./assets/images/img-showcase.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.insti-life div.content {
  position: relative;
  z-index: 3;
}
.insti-life div.content .btn {
  align-items: center;
}
.insti-life::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(42, 42, 83, 0.5);
}
@media only screen and (max-width: 375px) {
  .insti-life {
    height: 340px !important;
  }
}
@media only screen and (max-width: 320px) {
  .insti-life {
    height: 350px !important;
  }
}
/* Life @FOET Ends */

/* Admission Section CSS Starts */
.section-sub-heading {
  font-weight: 900;
  color: var(--blue-text);
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}
.external-link {
  color: var(--blue-text);
  font-weight: bolder;
}
.external-link:hover {
  color: var(--blue-text);
}
/* Admission Section CSS Ends */

/*TPC CSS STARTS*/
.tpc-objectives-list {
  list-style-type: square;
  padding: 0;
  color: var(--gray-text);
}
.tpc-objectives-list li {
  font-size: 1.25em;
  padding: 5px;
}
/* TPC CSS ENDS */

/* student life css starts */
.section-sub-sub-heading {
  font-weight: 900;
  color: var(--blue-text);
  font-size: 1.25em;
  font-family: 'Roboto', sans-serif;
}
.card-image {
  position: relative;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  background-color: #2c3335;
  overflow: hidden;
  width: 100%;
  height: 15%;
  transition: 0.5s ease;
}
.card-image:hover .overlay {
  height: 100%;
}
.card-image:hover .overlay .text {
  margin-top: 5px;
}
.text {
  color: white;
  text-align: center;
}
.card-image {
  height: 100%;
}
.councilImage {
  height: 100%;
}
@media only screen and (max-width: 320px) {
  .overlay {
    height: 15%;
  }
  .council-name {
    font-size: 0.85em;
  }
  .council-description {
    margin: 8px 5px 0px 5px;
    font-size: 0.75em;
  }
  .councilImage {
    height: 149px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 400px) {
  .councilImage {
    height: 149px !important;
  }
  .card-image .overlay .text {
    margin-top: 2px;
  }
  .overlay {
    height: 18%;
  }
  .council-name {
    font-size: 1em;
  }
  .council-description {
    margin: 8px 1px 0px 1px;
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 401px) and (max-width: 575px) {
  .councilImage {
    height: 245px;
  }
  .card-image .overlay .text {
    margin-top: 5px;
  }
  .overlay {
    height: 15%;
  }
  .council-name {
    font-size: 1.3em;
  }
  .council-description {
    margin: 30px 5px 0px 5px;
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 576px) and (max-width: 638px) {
  .overlay {
    height: 16%;
  }
  .council-name {
    font-size: 0.95em;
  }
  .council-description {
    margin: 10px 5px 0px 5px;
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 638px) and (max-width: 767px) {
  .card-image .overlay .text {
    margin-top: 2px;
  }
  .overlay {
    height: 18%;
  }
  .council-description {
    margin: 10px 5px 0px 5px;
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .overlay {
    height: 18%;
  }
  .council-name {
    font-size: 0.85em;
  }
  .council-description {
    margin: 5px 5px 0px 5px;
    font-size: 0.6em;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  .overlay {
    height: 20%;
  }
  .card-image .overlay .text {
    margin-top: 3px;
  }
  .council-name {
    font-size: 0.85em;
  }
  .council-description {
    margin: 5px 5px 0px 5px;
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .overlay {
    height: 16%;
  }
  .card-image .overlay .text {
    margin-top: 8px;
  }
  .council-name {
    font-size: 1.25em;
  }
  .council-description {
    margin: 15px 5px 0px 5px;
    font-size: 1em;
  }
}
@media only screen and (min-width: 1281px) {
  .council-name {
    font-size: 1.5em;
  }
  .council-description {
    margin: 15px 5px 0px 5px;
    font-size: 1.2em;
  }
  .overlay {
    height: 15%;
  }
}
/* student life css ends */

/* About Screen CSS starts */
@media only screen and (max-width: 768px) {
  .message-about {
    flex-direction: column-reverse !important;
  }
}
div.message-about .description {
  align-self: center;
}
.about-auth-image {
  height: 290px;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
}

/* About Screen CSS ends */

/* Footer Styling */
footer {
  background-color: #2a2a53;
  min-height: 430px !important;
  color: white;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
.footer-container {
  max-width: 1280px !important;
}
.footer-stacked-columns div.col {
  padding: 0;
}
.footer-logo {
  width: 150px;
  height: 140px;
}
address {
  font-weight: 400;
  font-size: 1.2em;
}
.footer-section-details {
  list-style-type: none;
  padding: 0;
}
.footer-section-heading {
  font-weight: 900;
  font-size: 1.5em;
}
ul.footer-section-details li {
  padding-top: 0.25em;
  font-size: 1.2em;
}
.connect svg {
  margin: 10px;
}
.footer-link {
  text-decoration: none !important;
  color: #d5d5d5;
}
.footer-link:hover {
  color: #6a8191;
}
.footer-credits {
  background-color: #555677;
  color: white;
}
.footer-credits div.container-fluid {
  margin: 5px 0px;
}
