@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.intro{
  padding: 0px 10px;
}

.sidebar-item {
  font-size: 0.9em !important;
  font-family: 'Roboto', sans-serif;
  color: #c8d5e9 !important;
}

.bg-blue {
  background-color: #0d1751 !important;
}

.tx-blue {
  color: #0f0f61;
}

.li-none {
  list-style-type: none;
}

.lab-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60%;
  width: 90%;
  padding: 2%;
  margin: auto;
}

.lab-inside {
  width: 320px;
  height: 295px;
  padding: 1%;
  margin: 2%;
}

.img-border {

  border-radius: 20px;
  box-shadow: 1px 1px 2px 3px #41373721;
}

.font-awsome {
  font-size: 2rem;
}

.a-text-none:hover {
  text-decoration: none;
}

.faculty-data {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.bg-grey {
  background-color: grey;
}

.justify-content-space-between {
  justify-content: space-between;
}

.img-shadow
{
   box-shadow: 1px 1px 10px 8px #98978b;
}

.table-shadow
{
    box-shadow: 1px 1px 10px 8px #98978b;
}

.button-top
{
    left: auto;
}

.list-item{
    font-family:auto;
    font-size: 1rem;
}
.csi-image
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding:6px;
}
.csi-image img{
    position: relative;
    width:95%;
    height:auto;
    margin:6px;
    border:2px solid grey;
    border-radius: 5px;

}

.student-activities-images
{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:6px;

}

.student-activities-images img{
    position: relative;
    width:44%;
    height:auto;
    margin:6px;
    border:2px solid grey;
    border-radius: 5px;

}

.hr1
{
  border-top: 1px dashed grey;
}

.table-header-background
    {
      background-color: black;
    }

.table-header-text
{
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

/* .navlink
{
  color:green!important;
}

.navlink:active
{
  color:black!important;
}

.active{
  color:black!important;
} */

.laboratory
{
  font-size: 1.2em;
}


/* table content at mobile view */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    
    .content
    {
       padding-left: 0rem!important;
       padding-right: 0rem!important;
    }

	.mobile-table, .mobile-thead, .mobile-tbody, .mobile-th, .mobile-td, .mobile-tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.mobile-thead .mobile-tr { 
        /* display: none; */
		position: absolute;
		top: -9999px;
		left: -9999px;
    }
    
    .mobile-tbody .mobile-tr
    {
        margin-bottom: 2px; 
        border:3px solid black!important;
        border-radius:4%;
        padding: 8px;
    }

    
	
	/* .mobile-tr { border: 1px solid #ccc; } */
	
	.mobile-td { 
		/* Behave  like a "row" */
        border-bottom: 2px solid black!important;
        border-top: none!important;
        border-left: none!important;
        border-right: none!important;
		/* border-bottom: 1px solid #eee;  */
		position: relative;
        padding-left: 50%!important; 
        text-align: left!important;
    }

    .mobile-td:nth-of-type(4){border-bottom: none!important;}
	
	.mobile-td:before { 
		/* Now like a table header */
		position: absolute;
        top: 16px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        padding-left: 6px;
        white-space: nowrap;
        font-weight: bold;
        text-align: justify;
	}
	
	/*
	Label .mobile-the data
	*/
	.mobile-td:nth-of-type(1):before { content: "SN"; }
	.mobile-td:nth-of-type(2):before { content: "ORGANISATION"; }
	.mobile-td:nth-of-type(3):before { content: "Job Title"; }
    .mobile-td:nth-of-type(4):before { content: "Date"; }
    
    .student-activities-images img
    {
        width:67%;
    }
	
}

@media 
only screen and (max-width: 600px),
(min-device-width: 768px) and (max-device-width: 1024px)
{
  .intro{
    font-size: 1.5em;
    font-weight: 600!important;
  }
}

