.screen
{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.sidebar
{
    background-color:grey;
    padding: 9px;
    padding-left: 14px;
    position: sticky;
    top:5%;
    height:80%;
    width:100%;
    
}

.sidebar-item
{
    padding: 8%;
    font-size: 1.2rem;
}

.sidebar-item:hover
{
    background-color: chartreuse;
}

.sidebar-item a{
    color:black;
}

.content
{
    width:78%;
    padding-left:5%;
    padding-right:4%;
    padding-top:2%;
}

.side
{
    width:25%;
    height:50%;
}

.tx-blue
{
    color:#0f0f61;
}
