@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.intro {
  padding: 0px 7px;
  /* font-size: 1.5rem; */
  font-weight: 600;
}

.sidebar-item {
  font-size: 0.9em !important;
  font-family: 'Roboto', sans-serif;
  color: #c8d5e9 !important;
}

.bg-blue {
  background-color: #0d1751 !important;
}

.tx-blue {
  color: #2a2a53;
}

.li-none {
  list-style-type: none;
}

.lab-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60%;
  width: 96%;
  padding: 10px;
  margin: 10px;
}

.lab-inside {
  width: 400px;
  height: 295px;
  padding: 4px;
  margin: 1%;
  margin-bottom: 2%;
}

.img-border {
  border-radius: 20px;
  box-shadow: 1px 1px 2px 3px #41373721;
}

.font-awsome {
  font-size: 2rem;
}

.a-text-none:hover {
  text-decoration: none;
}

.faculty-data {
  display: grid;
  grid-template-columns: repeat(3, 34%);
}
/* .faculty-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left!important;
}

.margin-faculty-left {
  margin-left: 2.5rem !important;
} */

.bg-grey {
  background-color: grey;
}

.justify-content-space-between {
  justify-content: space-between;
}

.img-shadow {
  box-shadow: 1px 1px 10px 8px #98978b;
}

.table-shadow {
  box-shadow: 1px 1px 10px 8px #98978b;
}

.button-top {
  left: auto;
}

.list-item {
  font-family: auto;
  font-size: 1rem;
}
.csi-image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 6px;
}
.csi-image img {
  position: relative;
  width: 95%;
  height: auto;
  margin: 6px;
  border: 2px solid grey;
  border-radius: 5px;
}

.student-activities-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 6px;
}

.student-activities-images img {
  position: relative;
  width: 44%;
  height: auto;
  margin: 6px;
  border: 2px solid grey;
  border-radius: 5px;
}

.hr1 {
  border-top: 1px dashed grey;
}

.table-header-background {
  background-color: black;
}

.table-header-text {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.laboratory {
  font-size: 1.2em;
}

.achievement-list {
  width: 100%;
}

.achievement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4px 6px;
  width: 100%;
  /* box-shadow: 1px 1px 3px 5px grey; */
}

.achieve-img {
  width: 600px;
  height: auto;
  padding: 10px 15px;
}

.achieve-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 4px #736c6c38;
}

.achieve-img .electrical-achieve-img {
  width: 850px;
}

.content {
  font-family: sans-serif;
}

.bg-dark {
  background-color: #2a2a28 !important;
}

/* -------------civil lab------------- */

.civil-labs,
.civil-achieve-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 8px;
}

.civil-lab-image,
.civil-achieve-img {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 20px;
  align-self: center;
  margin-bottom: 20px;
}

.civil-lab-image img,
.civil-achieve-img img {
  width: 407px;
  height: 288px;
  border-radius: 5px;
}

.civil-lab-label {
  text-align: center;
}

.me-achieve-img {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.me-achieve-img img {
  width: 447px;
  height: 350px;
  border-radius: 10px;
}
.me-workshop-img img {
  width: 375px;
  height: 261px;
}

/* table content at mobile view */

@media only screen and (max-width: 994px) {
  .achieve-img .electrical-achieve-img {
    width: 600px;
  }

  .faculty-data {
    grid-template-columns: repeat(2, 45%);
  }

  .me-achieve-img img {
    width: 336px;
    height: 300px;
    border-radius: 10px;
  }

  .civil-lab-image,
  .civil-achieve-img {
    grid-template-columns: repeat(2, 49%);
    grid-gap: 20px;
  }

  .civil-lab-image img,
  .civil-achieve-img img {
    width: 325px;
    height: 243px;
  }
}

@media only screen and (max-width: 760px) {
  /* Force table to not be like tables anymore */

  /* Force table to not be like tables anymore */

  .content {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .mobile-table,
  .mobile-thead,
  .mobile-tbody,
  .mobile-th,
  .mobile-td,
  .mobile-tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .mobile-thead .mobile-tr {
    /* display: none; */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .mobile-tbody .mobile-tr {
    margin-bottom: 15px;
    /* border: 3px solid black !important; */
    border-radius: 4%;
    box-shadow: 1px 1px 3px 4px #e3dddd;
    padding: 8px;
  }

  /* .mobile-tr { border: 1px solid #ccc; } */

  .mobile-td {
    /* Behave  like a "row" */
    border-bottom: 2px solid black !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    /* border-bottom: 1px solid #eee;  */
    position: relative;
    padding-left: 50% !important;
    text-align: left !important;
  }

  .mobile-td:nth-of-type(4) {
    border-bottom: none !important;
  }

  .mobile-td:before {
    /* Now like a table header */
    position: absolute;
    top: 16px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    padding-left: 6px;
    white-space: nowrap;
    font-weight: bold;
    text-align: justify;
  }

  /*
	Label .mobile-the data
	*/
  .mobile-td:nth-of-type(1):before {
    content: 'SN';
  }
  .mobile-td:nth-of-type(2):before {
    content: 'ORGANISATION';
  }
  .mobile-td:nth-of-type(3):before {
    content: 'Job Title';
  }
  .mobile-td:nth-of-type(4):before {
    content: 'Date';
  }

  .student-activities-images img {
    width: 67%;
  }

  .faculty-data {
    grid-template-columns: repeat(2, 50%);
  }

  .me-achieve-img img {
    width: 311px;
    height: 253px;
    border-radius: 10px;
  }

  .civil-lab-image,
  .civil-achieve-img {
    grid-template-columns: repeat(2, 51%);
    grid-gap: 20px;
  }

  .civil-lab-image img,
  .civil-achieve-img img {
    width: 282px;
    height: 221px;
  }
}

@media only screen and (max-width: 680px) {
  .intro {
    padding: 0 3px;
    font-size: 1.4em;
    font-weight: 600 !important;
  }

  .content {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  ul,
  ol {
    padding-left: 28px;
  }
  .achieve-img {
    width: 465px;
  }
  .achieve-img img {
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 4px #736c6c38;
  }

  .achieve-img .electrical-achieve-img {
    width: 447px;
  }

  .faculty-data {
    grid-template-columns: repeat(2, 50%);
  }

  .me-achieve-img {
    grid-template-columns: 1fr;
    row-gap: 6px;
  }

  .me-achieve-img img {
    width: 375px;
    height: 261px;
    border-radius: 10px;
  }

  .civil-lab-image,
  .civil-achieve-img {
    grid-template-columns: repeat(1, 40%);
    grid-gap: 20px;
  }

  .civil-lab-image img,
  .civil-achieve-img img {
    width: 410px;
    height: 249px;
  }

  .civil-achievement p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 578px) {
  .achieve-img img {
    width: 340px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 4px #736c6c38;
  }

  .lab-inside {
    width: 338px;
    height: auto;
    margin-bottom: 14px;
  }

  .achieve-img {
    width: 340px;
  }

  .achieve-img .electrical-achieve-img {
    width: 324px;
  }

  .faculty-data {
    grid-template-columns: repeat(1, 94%);
  }

  .faculty-name {
    font-size: 1.5rem;
  }

  .me-achieve-img img {
    width: 354px;
    height: 253px;
    border-radius: 10px;
  }

  .me-achieve-description,
  .laboratory {
    font-size: 0.89rem;
  }

  .civil-labs,
  .civil-achieve-flex {
    padding-left: 2px;
  }

  .civil-lab-image,
  .civil-achieve-img {
    grid-template-columns: repeat(1, 40%);
    grid-gap: 20px;
  }

  .civil-lab-image img,
  .civil-achieve-img img {
    width: 313px;
    height: 194px;
  }

  table td {
    font-size: 0.85rem;
  }
}
