@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* .screen
{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.sidebar
{
    background-color:grey;
    padding: 9px;
    padding-left: 14px;
    height:75%;
    width:100%;
    
} */

/* .sidebar-item
{
    padding: 6.5%;
    font-size: 1.2rem;
    
}

.sidebar-item:hover
{
    background-color: grey;
}

.card
{
    border:1px solid grey;
}

.sidebar-item:hover a
{
    color:white;
}

.sidebar-item a{
    color:black;
}

.sidebar-item a:hover{
    text-decoration: none;
    color:white!important;
} */

/* .content
{
    width:78%;
    padding-left:3%;
    padding-right:4%;
    padding-top:2%;
    overflow-x: overlay;
}

.side
{
    width:25%;
    position: sticky;
    top:5%;
    height:100%;
} */

.sidebar-item {
  font-size: 0.9em !important;
  font-family: 'Roboto', sans-serif;
  color: #c8d5e9 !important;
}

.bg-blue {
  background-color: #0d1751 !important;
}

.tx-blue {
  color: #0f0f61;
}

.li-none {
  list-style-type: none;
}

.lab-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60%;
  width: 90%;
  padding: 2%;
  margin: auto;
}

.lab-inside {
  width: 320px;
  height: 295px;
  padding: 1%;
  margin: 2%;
}

.img-border {
  border: 4px solid black;
  border-radius: 10%;
}

.font-awsome {
  font-size: 2rem;
}

.a-text-none:hover {
  text-decoration: none;
}

.faculty-data {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.bg-grey {
  background-color: grey;
}

.justify-content-space-between {
  justify-content: space-between;
}

.img-shadow
{
   box-shadow: 1px 1px 10px 8px #98978b;
}

.table-shadow
{
    box-shadow: 1px 1px 10px 8px #98978b;
}

/* table content at mobile view */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    
    .content
    {
       padding-left: 0rem!important;
       padding-right: 0rem!important;
    }

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
        /* display: none; */
		position: absolute;
		top: -9999px;
		left: -9999px;
    }
    
    tbody tr
    {
        margin-bottom: 2px; 
        border:3px solid black;
        border-radius:4%;
        padding: 8px;
    }
	
	/* tr { border: 1px solid #ccc; } */
	
	td { 
		/* Behave  like a "row" */
        border-bottom: 2px solid black!important;
        border-top: none!important;
        border-left: none!important;
        border-right: none!important;
		/* border-bottom: 1px solid #eee;  */
		position: relative;
        padding-left: 50%!important; 
        text-align: left!important;
    }

    td:nth-of-type(4){border-bottom: none!important;}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
        top: 16px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        padding-left: 6px;
        white-space: nowrap;
        font-weight: bold;
        text-align: justify;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "SN"; }
	td:nth-of-type(2):before { content: "ORGANISATION"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Date"; }
	
}

